TOKEN=TOKEN                    # Bot's token
CLIENT_ID=ID                   # Bot's client ID
SECRET_DEV_CODE=CODE           # Secret password allowing to execute /dev commands
PUZZLE_CODES=CODES             # List of each answers in /game puzzle
TOKI_API_KEY=API_KEY           # API key of Tokinotsuki's API database

DATABASE_HOST=HOST             # Host of Tokinotsuki's database
DATABASE_NAME=NAME             # Name of Tokinotsuki's database
DATABASE_USER=USER             # Username of Tokinotsuki's database
DATABASE_PASSWORD=PASSWORD     # Password of Tokinotsuki's database

OSU_CLIENT_ID=CLIENT_ID        # osu! client ID
OSU_CLIENT_KEY=CLIENT_KEY      # osu! client key
TOPGG_API_KEY=API_KEY          # Top.gg API key
WEATHER_API_KEY=API_KEY        # OpenWeather API key

GUILD_COMMANDS_ID=ID           # ID of the guild having extra commands and features (Yunayunori in this case)
REPORT_CHANNEL_ID=ID           # ID of the channel receiving every reports made with /report
LOG_CHANNEL_ID=ID              # ID of the channel receiving the logs
MEMBER_COUNT_CHANNEL_ID=ID     # ID of the voice channel counting the number of members
BOT_COUNT_CHANNEL_ID=ID        # ID of the voice channel counting the number of bots
SOCIAL_MEDIAS_CHANNEL_ID=ID    # ID of the channel receiving the notifications of BakaTaida social medias
XP_CHANNEL_ID=ID               # ID of the channel receiving notification about the XP system

TESTING_MODE=BOOLEAN           # If true, it updates help.json when Tokinotsuki is ready, if false, it launches Cron jobs managing social media notifications, profile pictures and the API