TOKEN=TOKEN
CLIENT_ID=CLIENT_ID
SECRET_DEV_CODE=SECRET_DEV_CODE
PUZZLE_CODES=PUZZLE_CODES
TOKI_API_KEY=TOKI_API_KEY

DATABASE_HOST=DATABASE_HOST
DATABASE_NAME=DATABASE_NAME
DATABASE_USER=DATABASE_USER
DATABASE_PASSWORD=DATABASE_PASSWORD

OSU_CLIENT_ID=OSU_CLIENT_ID
OSU_CLIENT_KEY=OSU_CLIENT_KEY
TOPGG_API_KEY=TOPGG_API_KEY
WEATHER_API_KEY=WEATHER_API_KEY

GUILD_COMMANDS_ID=GUILD_COMMANDS_ID
REPORT_CHANNEL_ID=REPORT_CHANNEL_ID
LOG_CHANNEL_ID=LOG_CHANNEL_ID
MEMBER_COUNT_CHANNEL_ID=MEMBER_COUNT_CHANNEL_ID
BOT_COUNT_CHANNEL_ID=BOT_COUNT_CHANNEL_ID
SOCIAL_MEDIAS_CHANNEL_ID=SOCIAL_MEDIAS_CHANNEL_ID
XP_CHANNEL_ID=XP_CHANNEL_ID

TESTING_MODE=true